:root {
    --main-color: #2541B2;
    --main-lighter: #06BEE1;
    --main-darker: #03256C;
    --main-gray: #1768AC;
    --default-background-gray: #f0f0f0;
    --default-gray: #9a9a9a;
    --default-white: #f8f9fa;
    --white-filter: invert(99%) sepia(93%) saturate(2%) hue-rotate(197deg) brightness(106%) contrast(100%);
    --main-filter: invert(17%) sepia(62%) saturate(3439%) hue-rotate(225deg) brightness(94%) contrast(95%);
}

* {
    margin: 0;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}